<%- include('./layout')-%>
<body>

    <h1 style="color:blue;"><%-titulo%></h1>
    <span><%=min+" "%></span>
    <meter value=<%=nivel%> min=<%=min%> max=<%=max%> style="width:25%;height:20px"></meter>
    <span><%=" "+max%></span>

</body>
</html>
